[Unit]
Description=restic prune for %i
After=restic-backup.target

[Service]
Type=oneshot
Environment=RESTIC_LOCKFILE=/run/restic/prune.lock
Environment=XDG_CACHE_HOME=/var/cache/restic
EnvironmentFile=-/etc/restic/restic.conf
EnvironmentFile=/etc/restic/%i/restic.conf
WorkingDirectory=/etc/restic/%i
IOSchedulingClass=idle
ExecStart=/usr/bin/flock --verbose $RESTIC_LOCKFILE \
	/usr/local/bin/restic $RESTIC_COMMON_ARGS \
	prune $RESTIC_PRUNE_ARGS

[Install]
WantedBy=multi-user.target
