[Unit]
Description=restic backup for %i

[Service]
Type=oneshot
User=restic
EnvironmentFile=-/etc/restic/restic.conf
EnvironmentFile=/etc/restic/%i/restic.conf
WorkingDirectory=/etc/restic/%i
IOSchedulingClass=idle
ExecStart=/usr/libexec/restic/restic-backup
