[Unit]
Description=restic backup for %i
Before=restic-backup.target

[Service]
Type=oneshot
Environment=RESTIC_LOCKFILE=/run/restic/backup.lock
Environment=XDG_CACHE_HOME=/var/cache/restic
EnvironmentFile=-/etc/restic/restic.conf
EnvironmentFile=/etc/restic/%i/restic.conf
WorkingDirectory=/etc/restic/%i
ExecStart=/usr/bin/flock --verbose $RESTIC_LOCKFILE \
	/usr/local/bin/restic $RESTIC_COMMON_ARGS \
	backup $RESTIC_BACKUP_ARGS $BACKUP_DIR

[Install]
WantedBy=multi-user.target
