[Unit]
Description=restic forget for %i
After=restic-backup.target
Before=restic-forget.target

[Service]
Type=oneshot
Environment=RESTIC_LOCKFILE=/run/restic/forget.lock
EnvironmentFile=-/etc/restic/config.env
EnvironmentFile=/etc/restic/%i/config.env
WorkingDirectory=/etc/restic/%i
ExecStart=/usr/bin/flock --verbose -F $RESTIC_LOCKFILE \
	/usr/local/bin/restic $RESTIC_COMMON_ARGS \
	forget $RESTIC_FORGET_ARGS

[Install]
WantedBy=multi-user.target
