[Unit]
Description=restic forget for %i
After=restic-backup.target
Before=restic-forget.target

[Service]
Type=oneshot
Environment=RESTIC_LOCKFILE=/run/restic/forget.lock
Environment=XDG_CACHE_HOME=/var/cache/restic
EnvironmentFile=-/etc/restic/restic.conf
EnvironmentFile=/etc/restic/%i/restic.conf
WorkingDirectory=/etc/restic/%i
ExecStart=/usr/bin/flock --verbose $RESTIC_LOCKFILE \
	/usr/local/bin/restic $RESTIC_COMMON_ARGS \
	forget --host %H $RESTIC_FORGET_ARGS

[Install]
WantedBy=multi-user.target
